$color-red: #DD5757;
$color-gray-dark: #c0c0c0;
$color-white: #f7f7f7;




  input {
      &:focus {
          outline: none
      }

  }

  .btn {
      background-color: $color-red;
      color: #fff;
      border-radius: 100px;
      font-size: 14px;
      line-height: 21px;
      padding: 10px 22px;
      border: none;
      &:hover, &:active, &:focus {
            background-color:darken($color: $color-red, $amount: 7);
            color: #fff;
            box-shadow: none

      }
  }

  .fullwidth {
      width: 100%
  }


  .input-select {
    border-radius: 100px;
    margin: 15px 0;

  }

 

  .add-border-bottom {
    border-bottom: 1px solid #E5E5E5;
  }

  .add-border-left {
    border-left: 1px solid #E5E5E5;

  }

  .custom-select:focus {
    border: none;
    outline: 0;
    box-shadow:none;
}

.header-3 {
    font-size: 22px;
    line-height: 33px;
    font-weight: 500
}
.mt-30 {
    margin-top: 30px
}

.m-30 {
 margin: 30px 0
}
.px-50 {
  padding-left: 50px;
  padding-right: 50px
}

.text-color-red {
    color: $color-red
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    .one {
        flex: 1
    }
  }

  .pr {
      position: relative;
  }

  .small-text {
      font-size: 14px

  }

  .space-1 {
      height: 20px;
  }

  .space-2 {
    height: 50px;
}

.space-3 {
    height: 70px;
}