.search-box {
    width: 385px;
    max-width: 100%;
    border-radius: 100px;
    padding: 7px;
    padding-left: 40px;
    color: #666666;
    font-size: 14px;
    border: 1px solid #ECECEC;
}

.nav-search-section {
    position: relative
  }

  .search-icon {
    width: 18px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.navbar {
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    border-bottom: 1px solid #E5E5E5;
}

.navbar-light .navbar-nav .nav-link.text {
    color: #333333
}

.logo {
    width: 200px;
}


.head-filter {
display: flex;
flex-wrap: wrap;
padding-top: 30px;
 }

 .head-filter .filter-item {
    font-size: 24px;
    line-height: 36px;
    color: #383838;
    width: 210px
  }

  .tab-underline {
    position: relative;

  }

  .tab-underline:before {
    content : "";
    position: absolute;
    left    : 15%;
    bottom: -7px;
    height  : 1px;
    width   : 70%;  
    border-bottom:2px solid #DD5757;
  }
  .filter-btn {
    margin: 15px 0;
    padding: 10px 30px
 
  }
